<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.purehub.mapper.RepaymentAboutMapper">
        <select id="findTotalTerm" resultType="integer">
            select term from generic_loan_application where application_id = #{applicationId}
        </select>
        <select id="findNowInstallment" resultType="integer">
            select installment from repayment_plan where application_id = #{applicationId}
        </select>
</mapper>