<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.purehub.mapper.UserMapper">
  <select id="selectUserByUserName" resultType="user">
    select * from user where user_name = #{userName}
  </select>
  
  <insert id="insertUser">
    insert into user(user_name, password, real_name, id_card, email, address, phone_number)
    values(#{userName}, #{password}, #{realName}, #{idCard}, #{email}, #{address}, #{phoneNumber})
  </insert>
</mapper>